img.resize {
    width:625px;
    height:125px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.pd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.fade-container {
    position: relative;
}

.fade-image {
    display: block;
    width: 100%;
    height: auto;
}

.fade-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(177, 250, 250, 0.904);
}

.fade-container:hover .fade-overlay {
    opacity: 1;
}

.fade-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
